<div class="text-center w-100">
    <div class="formContainer">
        <form action="/lookup" method="post">
            <hr>
            <div class="input-group mb-3 shadow rounded">
                <input type="text" class="form-control" value="<%=ip%>" placeholder="Enter the Domain" aria-label="Enter the URL" aria-describedby="button-addon2" name="domain">
                <button class="btn btn-outline-secondary bg-info text-light subBtnForm" type="submit" id="button-addon2">Lookup</button>
            </div>
            <hr>
            <h4>example.com</h4>
            <h4>Don't Write WWW / Http / Https</h4>
            <hr>
        </form>
    </div>
    <div class="coptConti cusShaddow3 shadow rounded h-100 w-50 m-auto" style="cursor: pointer;">
        <div id="copyTxtCon">
            <div class="text-danger">
                <p class="text-center p-1 fw-bolder">@By ©LexusCreations</p>
            </div>
        </div>
    </div>
</div>