<!DOCTYPE html>
<html lang="en-US" dir="ltr">

<%- include('../partials/layout/headTag.ejs'); %>

    <body>

        <header>
            <div class="container">

            </div>
        </header>

        <main>
            <%- body %>
        </main>

        <footer>
        </footer>

        <%- include('../partials/layout/footerLinks.ejs'); %>

    </body>

</html>